body {
    background-color: rgb(39, 39, 122);
    left: 4px;
    right: 4px;
}

.header {
    top: 5px;
    right: 5px;
    left: 5px;
    height: 80px;
    border-bottom: solid grey 1px;
    background-color: rgb(39, 39, 122);
    position: absolute; 
    
    
}
.leftmenu {
    top: 90px;
    left: 4px;
    width: 201px;
    /* bottom: 10px; */
    height: 2717px;
    
    padding-top: 40px;
    border-right: solid 1px #555555;
    background-color: rgb(199, 199, 199);
    /* height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;  
}
.mainbody {
    top: 90px;
    left: 164px;
    right: 164px;
    width: fit-content;
    margin: auto;
    /* bottom: 10px; */
    padding-right: 100px; 
    padding-left: 100px; 
    border: solid 1px #555555;
    background-color: rgb(255, 255, 255);
}

.rightmenu {
    top: 90px;
    right: 4px;
    width: 201px;
    /* bottom: 10px; */
    border-left: solid 1px #555555;
    padding-left: 5px;
    background-color: rgb(199, 199, 199);
    height: 2757px; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; 
}

.resumebody {
    width: 900px;
    margin: auto;
    /* border: black 1px solid; */
}

.common {
    border: 2px solid white;
    position: absolute;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}

.breakline {
    
   border-top: rgb(55, 55, 55) solid 1px;
    
   /* display: block;
   width: 900px;
   height: 1px;
   border: 0;
   border-top: 1px solid black;
   margin: auto ;
   padding: 50px; */
}

/* a:hover {
    text-decoration: underline;
    font: italic bold; */
/* } */

a:visited {
    color: rgb(54, 141, 255);
}


.ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; 
  }

  .li-a {
    display: block;
    width: 60px;
  }
  .li-a:hover {
    background-color: #555;
    color: white;
  }
  .active {
    color: white;
  }
  .Centertext {
    text-align: center;
    float: top;
  }
  .fixed {
    position: fixed;
  }
